<ion-view view-title="Setting">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ui-sref="tab.setting-income-group" href="#/tab/setting-income-group">
        <i class="icon ion-ios-bookmarks positive"></i>
        ประเภทรายได้
        <i class="icon ion-ios-arrow-right assertive"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon icon ion-ios-cart balanced"></i>
        ประเภทรายจ่าย
        <i class="icon ion-ios-arrow-right assertive"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
